@import '../users.component';
.button--right{
  padding: 5px 20px;
  font-size: 15px;
}
.text--left{
  color: white;
  font-size: 22px;
  margin-left: 40%;
  margin-top: 5px;
}
.row--position{
  margin-top: 15px;
}
.button--come-back{
  position: absolute;
  top: 0px;
  left: 21px;
  padding: 10px 19px;
  font-size: 13px;
}
.mat-slide-toggle{
  margin-top: 10px;
}
