@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/** PODSTAWOWE USTAWIENIA **/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
.row{
  margin-right: 0!important;
}
body{
  background-image: url('/assets/images/bg2.jpg');
  background-size: cover;
  background-position: center;
}

/** BUTTONS **/
.button {
  border-radius: 16px;
  background-color: #097cbb;
  padding: 9px 38px;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 17px;
  font-family: Roboto, Arial;
}
.button:hover {
  background-color: #085884;
}
.button--position{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

/** TOASTS **/
.toast-success {
  background: #189f00;
}
.toast-error {
  background: #d71c07;
}

/** MAT-SELECT **/
.mat-select-value-text{
  color: white!important;
  font-size: 20px;
}

/** TITLE **/
.title--basic {
  font-family: Oswald, Roboto, Arial;
  color: white;
  font-weight: 500;
  font-size: 28px;
}
.title--box {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

/** LINE **/
.line {
  clear: both;
  border-color: #090a0f;
  width: auto;
}
.line--position {
  margin-top: 25px;
  margin-bottom: 4px;
}

/** SEKCJA **/
section {
  max-width: 800px;
  background-color: #11121d;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 25px 8px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0px 25px 26.97px rgba(0, 0, 0, 0.74);
}
.small-section {
  max-width: 590px;
}

/** **/

